.navbar{
    
    border-bottom: 1px solid #dedede;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-items-wrapper {
    left: 200px;
}

.navbar-items-wrapper .navbar-items .navbar-item:last-child { margin-left : 1000px}
 
 
  
.navbar .title,
.navbar-item {
    color:#007bff
}