@import 'view-ui-plus/src/styles/index.less';

// Color
@primary-color: #1A9EC1;
@info-color             : #2db7f5;
@success-color          : #19be6b;
@processing-color       : @primary-color;
@warning-color          : #ff9900;
@error-color            : #ed4014;
@error-hover-color      : color(~`colorPalette('@{error-color}', 5) `);
@error-active-color     : color(~`colorPalette('@{error-color}', 7) `);
@normal-color           : #e6ebf1;
@link-color: #1A9EC1;
@link-hover-color       : tint(@link-color, 20%);
@link-active-color      : shade(@link-color, 5%);
@selected-color         : fade(@primary-color, 90%);
@tooltip-color          : #fff;
@subsidiary-color       : #808695;
@rate-star-color        : #f5a623;
@white: #fff;
@black: #000;

// Legend
@legend-color           : #999;

// Base
@body-background        : #fff;
@component-background   : #fff;
@font-family            : "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
@code-family            : Consolas,Menlo,Courier,monospace;
@title-color            : #17233d;
@text-color             : #004050;
@text-color-secondary   : fade(@black, 45%);
@heading-color          : fade(#000, 85%);
@heading-color-dark     : fade(@white, 100%);
@font-size-base         : 14px;
@font-size-small        : 12px;
@font-size-large        : @font-size-base + 2px;
@heading-1-size         : ceil(@font-size-base * 2.71);
@heading-2-size         : ceil(@font-size-base * 2.14);
@heading-3-size         : ceil(@font-size-base * 1.71);
@heading-4-size         : ceil(@font-size-base * 1.42);
@heading-5-size         : ceil(@font-size-base * 1.14);
@heading-6-size         : ceil(@font-size-base * 1);
@line-height-base       : 1.5;
@line-height-computed   : floor((@font-size-base * @line-height-base));
@border-radius-base     : 6px;
@border-radius-small    : 4px;
@cursor-disabled        : not-allowed;

// Layout and Grid
@grid-columns                : 24;
@grid-gutter-width           : 0;
@layout-sider-background : #1A9EC1;
@layout-header-background    : #515a6e;
@layout-header-height        : 64px;
@layout-header-padding       : 0 50px;
@layout-footer-padding       : 24px 50px;
@layout-footer-background    : @layout-body-background;
@layout-sider-background     : @layout-header-background;
@layout-trigger-height       : 48px;
@layout-trigger-color        : #fff;
@layout-zero-trigger-width   : 36px;
@layout-zero-trigger-height  : 42px;

// Border color
@border-color-base      : #dcdee2;  // outside
@border-color-split     : #e8eaec;  // inside
@border-width-base      : 1px;            // width of the border for a component
@border-style-base      : solid;          // style of a components border

// Background color
@background-color-base        : #f7f7f7;  // base
@background-color-select-hover: @input-disabled-bg;
@tooltip-bg                   : rgba(70, 76, 91, .9);
@head-bg                      : #f9fafc;
@table-thead-bg               : #f8f8f9;
@table-td-stripe-bg           : #f8f8f9;
@table-td-hover-bg            : #ebf7ff;
@table-td-highlight-bg        : #ebf7ff;
@menu-dark-title              : #1EACD0;
@menu-dark-active-bg          : #0db7e1;
@menu-dark-subsidiary-color   : rgba(255,255,255,.7);
@menu-dark-group-title-color  : rgba(255,255,255,.36);
@date-picker-cell-hover-bg    : #e1f0fe;

// Layout and Grid
@grid-columns                : 24;
@grid-gutter-width           : 0;
@layout-body-background      : #f5f7f9;
@layout-header-background    : #1A9EC1;
@layout-header-height        : 64px;
@layout-header-padding       : 0 50px;
@layout-footer-padding       : 24px 50px;
@layout-footer-background    : @layout-body-background;
@layout-sider-background     : @layout-header-background;
@layout-trigger-height       : 48px;
@layout-trigger-color        : #fff;
@layout-zero-trigger-width   : 36px;
@layout-zero-trigger-height  : 42px;